<% layout('layouts/boilerplate') %>

<h1>Register!</h1>
<form action="/register" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="location">Username:</label>
        <input class="form-control" type="text" id="username" name="campground[location]" required>
        <div class="valid-feedback">
            Looks Good!
        </div>
    </div>
</form>